<form action="/add_hospital" class="form-group" method="POST">
    <label for="hospital_id">ID</label>
    <input type="text" name="id" class="form-control" placeholder="Firstname"  required>
    <br>
    <label for="hospital_name">Hospital Name</label>
    <input type="text" name="name" class="form-control" placeholder="Firstname"  required>
    <br>
    <input type="submit" class="btn btn-success" value="Enter">
</form>
